{% extends "layout.html" %}
{% block body %}
  {% if discus %}
  {% for comment in discus.comments %}
  <ul>
    <li>Author : {{ comment.author_name }}
    <li>Email : {{ comment.author_email }}
    <li>Website : {{ comment.author_website }}
    <li>{{ comment.body }}
  </ul>
  {% endfor %}
  {% else %}
  Pas de discussion
  {% endif %}

  <h3>Nouveau commentaire</h3>
  <form action="{{ url_for('comment_new') }}" method="POST" class="form_horizontal">
    <label for="author_name">Nom</label>
    <input type="text" name="author_name" id="author_name">
    <label for="author_email">Email</label>
    <input type="text" name="author_email" id="author_email">
    <label for="author_website">Website</label>
    <input type="text" name="author_website" id="author_website">
    <textarea name="body" id="body"></textarea>
    <input type="hidden" name="discus_id" id="discus_id" value="{{ discus_id }}">
    <input type="submit" value="Poster">
  </form>

{% endblock %}
